.container-list {
  text-align: center;
}

.dish-list {
  list-style: none;
  padding: 0;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dish-item {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.detail-link {
  color: blue;
  text-decoration: none;
}
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

