{% extends "base.html" %}
{% block content %}
  <div class="container">
        <h1>Details for Dish: {{ dish.name }}</h1>
        <ul class="list-group">
            <li class="list-group-item"><strong>Dish Name:</strong> {{ dish.name }}</li>
            <li class="list-group-item"><strong>Dish Type:</strong> {{ dish.type }}</li>
            <li class="list-group-item"><strong>Dish Price:</strong> {{ dish.price }}</li>
            <li class="list-group-item"><strong>Dish Description:</strong> {{ dish.description }}</li>
            <li class="list-group-item">
                <strong>Cookers who made this dish:</strong>
                <ul>
                    {% for cooker in dish.cookers %}
                        <li>{{ cooker.name }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}